@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Silkscreen", sans-serif;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 1504px;
  margin: 0 auto;
  padding: 0px 2.38rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1.5rem;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.navbar_link {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.0625rem;
  color: #fff;
}
.navbar_logo {
  display: block;
  background-size: cover;
  font-family: "Silkscreen", sans-serif;
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .navbar_logo {
    font-size: 1.75rem;
  }
}
@media (max-width: 425px) {
  .navbar_logo {
    font-size: 1.25rem;
  }
}
.navbar_burger {
  display: none;
  width: 32px;
  height: 32px;
}

.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: flex;
    align-items: center;
  }
}

.navbar_burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.box {
  display: none;
}

.burger_span {
  display: block;
  width: 32px;
  height: 3px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar_burger_label_block {
  display: none;
}
@media (max-width: 1024px) {
  .navbar_burger_label_block {
    display: flex;
  }
}

.burger_label {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  left: 2rem;
  z-index: 4;
}

.burger_bottom {
  margin-bottom: 6px;
}

@media (max-width: 1024px) {
  .navbar_link {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.88rem;
  }
}
@media (max-width: 1024px) {
  .navbar_link:hover {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1.88rem;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -2%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 1024px) {
  .navbar_link_first {
    padding-top: 2.25rem;
  }
}

@media (max-width: 1024px) {
  .navbar_link {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  .navbar_link.show {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  #myCheckbox:not(:checked) ~ .navbar_menu {
    animation: fadeOutUp 0.3s ease-in-out forwards;
  }
}

@media (max-width: 1024px) {
  #myCheckbox:checked ~ .navbar_menu {
    animation: fadeIn 1s ease-in-out;
  }
}

.navbar_menu {
  display: flex;
  align-items: center;
  gap: 1.88rem;
}
@media (max-width: 1024px) {
  .navbar_menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 27.125rem;
    background: rgba(27, 27, 27, 0.685);
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    top: 100%;
    width: 100%;
    left: -1px;
    flex-direction: column;
    padding-top: 1.5rem;
  }
}
@media (max-width: 1024px) and (prefers-color-scheme: light) {
  .navbar_menu {
    background: rgba(255, 255, 255, 0.685);
  }
}

.header_container {
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-between;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .header_container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
.header_img {
  width: 290px;
  height: 440px;
  background-image: url("./img/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .header_img {
    width: 400px;
    height: 660px;
  }
}
@media (max-width: 425px) {
  .header_img {
    width: 290px;
    height: 440px;
  }
}
.header_button {
  width: 100%;
  border: none;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 0;
  font-size: 1.25rem;
  transition: transform 0.2s;
}
.header_button:hover {
  transform: scale(1.1);
}
.header_button:active {
  transform: scale(1.15);
}
.header_text_block {
  max-width: 63.75rem;
  width: 100%;
}
@media (max-width: 768px) {
  .header_text_block {
    max-width: 25rem;
  }
}
.header_title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 1.75rem;
}
@media (max-width: 1024px) {
  .header_title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (max-width: 768px) {
  .header_title {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 425px) {
  .header_title {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
.header_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}
@media (max-width: 1024px) {
  .header_text {
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .header_text {
    font-size: 1.25rem;
  }
}

.main {
  display: flex;
}
.main_info_container {
  display: flex;
  justify-content: space-between;
  max-width: 1504px;
  width: 100%;
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  .main_info_container {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .main_info_container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.main_info_header {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main_info_header {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
.main_contats_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  width: 100%;
}
@media (max-width: 768px) {
  .main_contats_list {
    display: none;
  }
}
.main_contats_list a {
  color: #FFF6E0;
}
.main_contats_list a:hover {
  color: #fde08a;
}
.main_contats_list_element {
  display: inline-block;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  color: #FFF6E0;
  transition: transform 0.2s;
  width: 86px;
}
.main_contats_list_element:nth-child(3) {
  width: 100%;
}
.main_contats_list_element:hover {
  transform: scale(1.1);
}
.main_contats_list_element:active {
  transform: scale(1.15);
}
.main_work_block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  .main_work_block {
    max-width: 25rem;
  }
}
.main_work_content {
  display: flex;
  gap: 1.5rem;
  border-top: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .main_work_content {
    flex-direction: column;
  }
}
.main_work_titel {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  padding-top: 1.5rem;
}
@media (max-width: 768px) {
  .main_work_titel {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.main_work_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}
.main_work_img {
  width: 256px;
  height: 256px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-top: 1.5rem;
}
.main_about_me_block {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .main_about_me_block {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.main .main_about_me_phto {
  background-image: url("./img/about_me.jpg");
  width: 512px;
  height: 644px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .main .main_about_me_phto {
    width: 307px;
    height: 386px;
  }
}
@media (max-width: 425px) {
  .main .main_about_me_phto {
    width: 256px;
    height: 322px;
  }
}
.main_about_me_text_block {
  display: flex;
  flex-direction: column;
}
.main_about_me_title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.main_about_me_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  max-width: 780px;
}
@media (max-width: 1024px) {
  .main_about_me_text {
    font-size: 1.25rem;
  }
}
.main_portfolio {
  justify-content: center;
}
.main_portfolio a {
  color: #FFF6E0;
}
.main_portfolio a:hover {
  color: #fde08a;
}
.main_portfolio_link {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #FFF6E0;
  transition: transform 0.2s;
  width: 220px;
}
.main_portfolio_link:hover {
  transform: scale(1.1);
}
.main_portfolio_link:active {
  transform: scale(1.15);
}
.main_portfolio_content {
  margin-bottom: 2rem;
}
.main_portfolio_block {
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
  width: 1300px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main_portfolio_img {
  width: 512px;
  height: 512px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .main_portfolio_img {
    width: 307px;
    height: 307px;
  }
}
@media (max-width: 425px) {
  .main_portfolio_img {
    width: 282px;
    height: 282px;
  }
}
.main_portfolio_title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main_portfolio_title {
    max-width: 307px;
    font-size: 2.25rem;
  }
}
@media (max-width: 425px) {
  .main_portfolio_title {
    max-width: 282px;
    font-size: 2rem;
  }
}
.main_portfolio_text {
  font-family: "Poppins", sans-serif;
  padding-bottom: 1rem;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  max-width: 780px;
}
@media (max-width: 768px) {
  .main_portfolio_text {
    max-width: 307px;
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .main_portfolio_text {
    max-width: 282px;
    font-size: 1.25rem;
  }
}
.main_portfolio_text_2 {
  font-family: "Poppins", sans-serif;
  max-width: 512px;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .main_portfolio_text_2 {
    max-width: 307px;
  }
}
@media (max-width: 425px) {
  .main_portfolio_text_2 {
    max-width: 282px;
  }
}
.main_cv_container {
  padding-top: 5rem;
  max-width: 1504px;
  width: 100%;
}
.main_cv_block {
  display: flex;
  padding: 1rem 0rem;
  max-width: 1504px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 847px) {
  .main_cv_block {
    justify-content: center;
  }
}
.main_cv_title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.75rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 847px) {
  .main_cv_title {
    text-align: center;
  }
}
.main_cv_title_2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
}
.main_cv_list {
  list-style-type: none;
}
.main_cv_list_element {
  display: flex;
  max-width: 375px;
  flex-direction: row;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  word-wrap: break-word;
}
.main_cv_list_element a {
  color: #ffffff;
}
.main_cv_list_element a:hover {
  color: #fde08a;
}
.main_cv_list_element_link {
  color: #FFF6E0;
  transition: transform 0.2s;
}
.main_cv_list_element_link:hover {
  color: #fde08a;
}
.main_cv_list_element_link:hover {
  transform: scale(1.2);
}

.footer {
  height: 5rem;
  margin-top: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_block_list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style-type: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer_block_list_element {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: none;
  outline: none;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0 solid azure;
  transition: border-width 0.05s ease-in-out;
}
@media (max-width: 768px) {
  .footer_block_list_element {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 425px) {
  .footer_block_list_element {
    width: 2rem;
    height: 2rem;
  }
}
.footer_block_list_element:hover {
  border-width: 2px;
}
.footer_block_list_element:active {
  border-width: 3px;
  border-color: #fde08a;
  background-color: #fde08a;
}
.footer_block_list_element:nth-child(1) {
  background-image: url("./img/telegram.svg");
}
.footer_block_list_element:nth-child(2) {
  background-image: url("./img/github.svg");
}
.footer_block_list_element:nth-child(3) {
  background-image: url("./img/discord.svg");
}
.footer_block_list_element:nth-child(4) {
  background-image: url("./img/linkedin.svg");
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.modal_content {
  margin: 10% auto;
  padding: 20px;
  width: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .modal_content {
    width: 307px;
  }
}
.modal_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_title {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .modal_title {
    font-size: 1.2rem;
  }
}

.close {
  position: relative;
  width: 2rem;
  height: 2rem;
}
@media (max-width: 768px) {
  .close {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.close::before, .close::after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
  transform-origin: center;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}

:root {
  --background: #231F20;
  --color: #FFF;
  --primary-color: #BB4430;
}

* {
  box-sizing: border-box;
}

.login_container {
  position: relative;
  width: 29.5rem;
}
@media (max-width: 425px) {
  .login_container {
    width: 17.5rem;
  }
}

.form_container {
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 99;
  padding: 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.login_container form input {
  display: block;
  padding: 14.5px;
  width: 100%;
  margin: 2rem 0;
  color: var(--color);
  outline: none;
  background-color: rgba(145, 145, 145, 0.1215686275);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 15px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 425px) {
  .login_container form input {
    font-size: 12px;
  }
}

.login_container form input:focus {
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
  animation: wobble 0.3s ease-in;
  -webkit-animation: wobble 0.3s ease-in;
}

.login_container form button {
  background-color: var(--primary-color);
  color: var(--color);
  display: block;
  padding: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in-out;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.login_container form button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.circle {
  width: 8rem;
  height: 8rem;
  background: var(--primary-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
@media (max-width: 768px) {
  .circle {
    display: none;
  }
}

.circle_one {
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-45%, -45%);
  -webkit-transform: translate(-45%, -45%);
  -moz-transform: translate(-45%, -45%);
  -ms-transform: translate(-45%, -45%);
  -o-transform: translate(-45%, -45%);
}

.circle_two {
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(45%, 45%);
  -webkit-transform: translate(45%, 45%);
  -moz-transform: translate(45%, 45%);
  -ms-transform: translate(45%, 45%);
  -o-transform: translate(45%, 45%);
}

.register_forget {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.opacity {
  opacity: 0.6;
}

.theme_btn_container {
  position: absolute;
  left: 0;
  bottom: 2rem;
}

.theme_btn {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.theme_btn:hover {
  width: 40px !important;
}

@keyframes wobble {
  0% {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  25% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  75% {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}/*# sourceMappingURL=applications.css.map */