*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $font;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6, 
ul, 
ol, 
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 1504px;
  margin: 0 auto;
  padding: 0px 2.38rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1.5rem;
}
