.header {
    &_container {
        display: flex;
        padding: 1.5rem 0;
        justify-content: space-between;
        gap: 2.5rem;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }
    }
    &_img {
        width: 290px;
        height: 440px;
        background-image: url('./img/me.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 1.5rem;
        @media (max-width: 768px) {
            width: 400px;
            height: 660px;
        }
        @media (max-width: 425px) {
            width: 290px;
            height: 440px;
        }
    }

    &_button {
        width: 100%;
        border: none;
        border-style: solid;
        border-width: 1px 1px 2px 1px;
        background-color: #000;
        color: #fff;
        border-radius: 0.5rem;
        padding: 1rem 0;
        font-size: 1.25rem;
    }

    &_text_block {
        // padding-left: 5rem;
        max-width: 63.75rem;
        width: 100%;
        @media (max-width: 768px) {
            max-width: 25rem;
        }
    }

    &_title {
        font-family: $font2;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4rem;
        margin-bottom: 1.75rem;
        @media (max-width: 1024px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @media (max-width: 768px) {
            font-size: 2rem;
            line-height: 3rem;
        }
        @media (max-width: 425px) {
            font-size: 1.75rem;
            line-height: 2.5rem;
        }
    }

    &_text {
        font-family: $font2;
        font-size: 1.75rem;
        padding-bottom: 1.5rem;
        @media (max-width: 1024px) {
            padding-bottom: 0.75rem;
            font-size: 1.5rem;
        }
        @media (max-width: 768px) {
            font-size: 1.25rem;
        }
    }

}