.main {
    display: flex;

    &_info_header {
        font-family: $font2;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &_contats_list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style-type: none;
        width: 100%;

        a {
            color: #FFF6E0;

            &:hover {
                color: #fde08a;
            }
        }
        &_element {
            display: inline-block;
            font-size: 1.125rem;
            font-family: $font2;
            color: #FFF6E0;
            transition: transform .2s;
            width: 86px;

            &:nth-child(3) {
                width: 100%;
            }
            
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &_work_block {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 6.5rem;
        width: 100%;
    }

    &_work_content {
        display: flex;
        border-top: 1px solid #fff;
        justify-content: space-between;
        align-items: center;
    }

    &_work_titel {
        font-family: $font2;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem;
    }

    &_work_text {
        font-family: $font2;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
    }

    &_work_img {
        width: 256px;
        height: 256px;
        object-fit: scale-down;
        margin-top: 1.5rem;
    }

    &_about_me_block {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem;
        align-items: center;
        justify-content: space-between;
    }

    &_about_me_phto {
        background-image: url('./img/about_me.jpg');
        width: 512px;
        height: 644px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &_about_me_text_block {
        display: flex;
        flex-direction: column;
    }

    &_about_me_title {
        font-family: $font2;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &_about_me_text {
        font-family: $font2;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.75rem;
        max-width: 780px;
    }

    &_portfolio {
        justify-content: center;

        &_content {
            margin-bottom: 2rem;
        }

        &_block {
            display: flex;
            flex-direction: row;
            /* gap: 2.25rem; */
            width: 1300px;
            margin-top: 4rem;
            margin-bottom: 4rem;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        &_img {
            width: 512px;
            height: 512px;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        &_title {
            font-family: $font2;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.75rem;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        &_text {
            font-family: $font2;
            width: 512px;
            padding-bottom: 1rem;
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.75rem;
            max-width: 780px;

            &_2 {
                font-family: $font2;
                width: 512px;
                font-size: 1rem;
            }
        }
    }

    &_cv_container {
        padding-top: 5rem;
        max-width: 1504px;
        width: 100%;
    }

    &_cv_block {
        display: flex;
        padding: 1rem 0rem;
        max-width: 1504px;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        @media (max-width: 814px) {
            justify-content: center;
        }
    }

    &_cv_title {
        font-family: $font2;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 5.75rem;
        margin-bottom: 1.5rem;
        @media (max-width: 814px) {
            text-align: center;
        }
    }

    &_cv_title_2 {
        font-family: $font2;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem;
        margin-bottom: 1.5rem;
    }

    &_cv_list {
        list-style-type: none;

        &_element {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            font-family: $font2;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            margin-bottom: 1.5rem;
        }
    }
}
